/* UNIVERSAL */

html {
   font-size: 16px;
}

body {
   background: url(../img/background.jpg) -700px -30px / 2000px no-repeat fixed;
   font-family: "Josefin Sans", "Avenir", Helvetica, sans-serif;
   font-size: 105%;
   /*letter-spacing: 0.15rem;*/
}

header, main, footer {
   position: relative;
   /*top: 100px;*/
   min-width: 480px;
   max-width: 800px;
   margin: 10px auto;
   /*background-color: black;*/
   /*border: 1px solid hotpink;*/
   border-radius: 10px;
   overflow: hidden;
}

header {
   letter-spacing: 0.15rem;
   /*max-height: 150px;*/
}

main {
   /*height: 1000px;*/
   margin-bottom: 30px;
   border-radius: 0;
}

footer {
   text-align: center;
   background-color: hsla(0, 0%, 100%, 0.7);
   margin-bottom: 30px;
   letter-spacing: 0.15rem;
}

/* CONTENT */

#content {
   height: auto;
   overflow: hidden;
   position: relative;
   /*background-color: hsla(0, 0%, 100%, 0.7);*/
   /*border: 1px solid orange;*/
}

.artwork {
   /*width: 80%;*/
   margin: 20px auto;
   border-radius: 10px;
   background-color: hsla(0, 0%, 100%, 0.7);
   overflow: hidden;
}

.artwork img {
   max-width: 100%;
}

.series img {
   width: 50%;
   height: auto;
}

.series {
   display: flex;
   flex-flow: row wrap;
   border: 1px solid green;
}

/*.artwork iframe {
   border-radius: 10px;
   overflow: hidden;
}*/

/*.artwork:nth-child(1) iframe {
   border-radius: 0 0 10px 0;
}*/

.caption {
   padding: 20px;
   width: 50%;
   /*border: 1px solid blue;*/
}

/* NAV FORMAT */
#nav {
   width: 100%;
   list-style: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   background-color: black;
   border-radius: 10px;
   overflow: hidden;
   letter-spacing: 0.15rem;
   /*border: 1px solid yellow;*/
}

#nav li {
   height: 100%;
   /*border: 1px solid blue;*/
}

/* NAV DROPDOWN */

.dropdown {
   width: 110px;
   height: inherit;
   /*border: 1px solid lightgreen;*/
}

.dropbtn {
   cursor: pointer;
   /*border: 1px solid hotpink;*/
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   z-index: 1;
   width: inherit;
   border-radius: 0 0 5px 5px;
   overflow: hidden;
   /*border: 1px solid aqua;*/
}

.dropdown-content a {
   display: block;
   width: inherit;
   padding: 10px 0;
}

.dropdown-content a:hover {
   background-color: hsla(88, 31%, 61%, 1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
   background-color: hsla(88, 31%, 61%, 1);
}

.dropbtn h2 {
   padding: 10px;
   /*border: 1px solid orange;*/
}


/* TEXT STYLING */

h1 {
   text-transform: lowercase;
   color: hsla(0, 0%, 100%, 0.9);
   font: 3rem "Josefin Sans", "Avenir", Helvetica, serif;
}

h2 {
   text-align: center;
   color: white;
   text-transform: lowercase;
}

h3 {
   font-size: 1.2rem;
   font-weight: 500;
}

.dropdown-content a {
   text-align: center;
}

.noshow {
   display: none;
}

footer p {
   padding: 10px 0;
}

.date, .medium, .size, .description {
   font: 300 0.8rem "Raleway", "Open Sans";
   line-height: 1.2rem;
}

.date, .description {
   margin-top: 10px;
}

.date {
   font-style: italic;
}
