blockquote {
   font-family: Arial;
   font-weight: bolder;
   letter-spacing: 1px;
   font-size: 13px;
   text-align: center;
   font-style: italic;
   margin-top: 3em;
}

footer {
   letter-spacing: 2px;
   font-weight: 100;
   font-family: Georgia;
   font-size: 12px;
   margin-top: 3em;
   color: black;
   text-align: center;
}

h1 {
   font-family: Georgia;
   font-style: bold;
   letter-spacing: 6px;
   font-size: 36px,
   color:black;
   margin-top: 1em;
   margin-bottom: 0.1em;
}
h2 {
   letter-spacing: 2px;
   font-weight: 100;
   font-family: Georgia;
   font-style: italic;
   font-size: 14px;
   color: black;
   margin-left: 2em;
   margin-bottom: 1.7em;
}

h3 {
   font-family: Georgia;
   font-weight: 100;
   font-size: 20px;
   color: black;
   margin-left: 1.7em;
   margin-top: 1.5em;
   margin-bottom: 2em;
   letter-spacing: 1px;
}

h4 {
   letter-spacing: 17px;
   font-weight: 100;
   font-family: Lucida;
   font-size: 68px;
   color: #90e5e5;
   text-align: center;
   margin-top: -560px;
}

h5 {
   letter-spacing: 2px;
   font-family: Georgia;
   font-weight: 100;
   font-size: 20px;
   color: black;
   margin-left: 1.7em;
   margin-top: 1.5em;
   margin-bottom: 2em;
}

h6 {
   letter-spacing: 17px;
   font-weight: 100;
   font-family: Lucida;
   font-size: 68px;
   color: #aee;
   text-align: center;
   margin-top: -550px;
}

img {
   margin-left: 4.2em;
   margin-top: 5em;
   vertical-align: middle;
   border-width: 20px;
   border-style: outset;
   border-color: #ba9337
}

p {
   font-family: Lucida;
   font-size: 20px;
   color: black;
   text-align: justify;
   width: 650px;
   margin-left: 9.8em;
   margin-top: 25em;
}

strong {
   font-weight: 900;
   font-style: italic;
}

.white-box{
   background-color: rgba(255,255,255,0.7);
   width: 1050px;
   height: 870px;
   margin-left: 9em;
}






