/* KEYFRAMES */

@keyframes breathing {
  from {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

@keyframes expand {
  50% {
    padding: 20px;
  }
}

/* UNIVERSAL */

html {
   font-size: 16px;
}

body {
   /*background: url(https://farm6.staticflickr.com/5686/30974196110_cdf6bfc852_k.jpg) bottom right / 1600px no-repeat fixed;*/
   font-family: "Josefin Sans", "Avenir", Helvetica, sans-serif;
   font-size: 105%;
   letter-spacing: 0.15rem;
}

header, main, footer {
   position: relative;
   /*top: 100px;*/
   min-width: 480px;
   max-width: 800px;
   margin: 10px auto;
   /*background-color: black;*//*
   border: 1px solid hotpink;*/
   border-radius: 10px;
   overflow: hidden;
}

header {
   /*max-height: 150px;*/
}

main {
   /*height: 1000px;*/
   margin-bottom: 30px;
}

footer {
   text-align: center;
   /*color: hsla(0, 0%, 100%, 0.7);*/
   margin-bottom: 30px;
}

/* CONTENT */

#content {
   height: inherit;
   overflow: hidden;
   position: relative;
   background-color: hsla(0, 0%, 100%, 0.7);
   /*border: 1px solid orange;*/
}

#witch {
   width: 100%;
   height: 500px;
   overflow: hidden;
   background: url(https://farm6.staticflickr.com/5695/30974194170_54a0ea1bb3_k.jpg) black -280px -150px / 1100px no-repeat;
   /*border: 1px solid aqua;*/
}

#biocontainer {
   width: 180px;
   position: absolute;
   bottom: 10%;
   right: 10%;
   /*border: 1px solid red;*/
}

#bio {
   overflow: hidden;
   position: relative;
   top: 0;
   left: 0;
   border-radius: 10px;
   padding: 10px;
   /*border: 1px solid hotpink;*/
}

#bioblur {
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 10px;
   position: absolute;
}

#blur {
   position: relative;
   top: 50%;
   width: 100%;
   box-shadow: 0 0 300px 200px hsla(0, 0%, 80%, 0.7);
   /*border: 1px solid aqua;*/
}

/* NAV FORMAT */
#nav {
   width: 100%;
   list-style: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   background-color: black;
   /*border: 1px solid yellow;*/
}

#nav li {
   height: 100%;
   /*border: 1px solid blue;*/
}

/* NAV DROPDOWN */

.dropdown {
   width: 110px;
   height: inherit;
   /*border: 1px solid lightgreen;*/
}

.dropbtn {
   cursor: pointer;
   /*border: 1px solid hotpink;*/
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   z-index: 1;
   width: inherit;
   border-radius: 0 0 5px 5px;
   overflow: hidden;
   /*border: 1px solid aqua;*/
}

.dropdown-content a {
   display: block;
   width: inherit;
   padding: 10px 0;
}

.dropdown-content a:hover {
   background-color: hsla(88, 31%, 61%, 1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
   background-color: hsla(88, 31%, 61%, 1);
}

.dropbtn h2 {
   padding: 10px;
   /*border: 1px solid orange;*/
}


/* TEXT STYLING */

h1 {
   text-transform: lowercase;
   /*color: hsla(0, 0%, 100%, 0.9);*/
   font: 3rem "Josefin Sans", "Avenir", Helvetica, serif;
}

h2 {
   text-align: center;
   color: white;
   text-transform: lowercase;
}

.dropdown-content a {
   text-align: center;
}

.noshow {
   display: none;
}

#bio p {
   line-height: 1.3rem;
   color: white;
   padding: 2px 0;
   /*border: 1px solid gold;*/
}

/* ANIMATIONS */

.animated {
   animation: breathing 5s linear 2s alternate infinite none running;

}
