body{
   color:#643974;
}

header {
   position: relative;
   font-family: 'Oswald', serif;
   font-size: 50px;
   letter-spacing: 5px;
   line-height: 10px;
   height: 100px;
   background: linear-gradient(white 80%, transparent);
   z-index: 99999999999999;
   padding-top: 100px;
}

h1 {
   width: 100%;
   font-size: 50%;
   text-align: center;
   bottom:30px;
}

header p {
   position:absolute;
   top:-250px;
   color:white;
   background: linear-gradient(white 90%, transparent);
}

a:link {
   color:#643974;
   text-decoration: none;
}

a:hover {
   background: #78a5aa;
}

.container {
   position:relative;
   top:30px;
   margin: auto;
   width:62.5%;

}

.section {
   position: relative;
   top:20px;
   margin: auto;
   width: 62.5%;
   padding-bottom: 90%;
}

p {
   border: 1px gold;
   position: absolute;
   font-size: 400%;
   font-family: 'Eczar', serif;
   letter-spacing: 5px;
   padding-top: 25%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

img {
   position: absolute;
   padding: 50px;
   margin: 0 auto;
   width: 500px;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.img5 {
   width:210%;
   top:-35%;
   left:-34%;
   transform: rotate(5deg);
}

.img6 {
   display: block;
   width: 90%;
   top: 30%;
   left:0%;
   transform: rotate(-20deg);
   opacity: 1;
}

.img2{
   width: 150%;
   top:10%;
   left:-5%;
}
.img4 {
   width: 50%;
   top: 23%;
   left:-7%;
   transform: rotate(20deg);
}

.img9 {
   width: 130%;
   top:25%;
   left:-25%;
   transform: rotate(10deg);
}


img:hover {
   transition:opacity 0.5s ease;
   opacity: 0;
   cursor: default;
}
